.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}
.nav-bar{
  background-color: #ff8a5c;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.nav-bar a{
  text-decoration: none;
  color: white;
}
.app-body{
  background: #fcf9ea;
}

.tables-holder{
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: #badfdb;
}
thead{
  color: black
}

.emotion-table{
  border-radius: 10px;
  background: #49beb7;
  margin: 5px;
  border: 2px solid #fcf9ea;
  display: flex;
  flex-direction: column;
}
table tr:nth-child(even){
  background: rgba(186,223,219,.7);
}

header.page{
  padding: 5px;
  text-align: left;
}

.emotion-table-header{
  color: black;
  background-color: #fcf9ea;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  align-self: flex-start;
}

.flash{
  background-color: red;
}
