.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}
.nav-bar{
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.nav-bar a{
  text-decoration: none;
  color: white;
}
.app-body{
  background: #f9e090;
}
.tables-holder{
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: #dc5353;

}
.emotion-table{
  border-radius: 10px;
  background: #ff935c;
  padding: 5px;
  margin: 5px;
}
